// _sass/custom/catppuccin_rouge.scss

// Import the Catppuccin palette from your main theme file
@import "../color_schemes/purple-dark";

.highlight,
pre.highlight {
  background-color: $catppuccin-surface0;
  color: $catppuccin-text;
}

.highlight pre {
  background-color: $catppuccin-surface0;
}

.highlight .hll {
  background-color: $catppuccin-surface0;
}

// Comments
.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
  color: $catppuccin-overlay1;
  font-style: italic;
}

// Errors
.highlight .err {
  color: $catppuccin-red;
  background-color: transparent; // Use a transparent background to match the theme
}

// Keywords
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: $catppuccin-mauve;
}

// Literals (general)
.highlight .l,
.highlight .ld {
  color: $catppuccin-green;
}

// Names (general)
.highlight .n {
  color: $catppuccin-text;
}

// Operators and Punctuation
.highlight .o,
.highlight .p {
  color: $catppuccin-text;
}

// Generic types
.highlight .ge {
  font-style: italic;
}

.highlight .gs,
.highlight .ow {
  font-weight: bold;
}

.highlight .gd {
  color: $catppuccin-red;
} // generic.deleted
.highlight .gi {
  color: $catppuccin-green;
} // generic.inserted

.highlight .gu {
  color: $catppuccin-overlay1;
} // generic.subheading

// Literals (specific types)
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: $catppuccin-peach;
}

// Strings (general)
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .s1 {
  color: $catppuccin-green;
}

// Names (specific types)
.highlight .na {
  color: $catppuccin-peach;
} // name.attribute

.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .bp {
  color: $catppuccin-yellow;
}

.highlight .nf,
.highlight .nn,
.highlight .nx {
  color: $catppuccin-text;
} // name.function, name.namespace, etc.

.highlight .nl,
.highlight .py,
.highlight .vc,
.highlight .vg {
  color: $catppuccin-yellow;
} // name.label, name.property, name.variable.class, etc.

.highlight .nt {
  color: $catppuccin-red;
} // name.tag

.highlight .nv,
.highlight .vi {
  color: $catppuccin-yellow;
}

// Specific string types
.highlight .sr,
.highlight .ss {
  color: $catppuccin-sky;
} // literal.string.regex, literal.string.symbol

// Whitespace
.highlight .w {
  color: $catppuccin-text;
}

// Other
.highlight .g {
  color: $catppuccin-text;
}
